{% extends 'basr.html' %}
{% block content %}
    <div class="create">
        <h1>Изменить пост</h1>
        <hr class="line">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for forms in form %}
                <div class="s">
                    <div class="label_tag">
                        {{ forms.label_tag }}
                    </div>
                    <div class="input">
                        {{ forms }}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="button">Save</button>
        </form>
    </div>
{% endblock %}
